/*Universale*/

/*TAG*/


html {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    background-color: rgb(216, 239, 239);
    color: navy;
}

main {
    background-color: rgb(157, 117, 132);
    padding: 2rem;
    margin-top: 5px;


}

footer {
    background-color: brown;
    margin: 3px;
    text-align: center;

}

h1 {
    font-size: 13px;
    margin-top: -3px;
}

h5 {
    padding-top: 10px;
    text-align: center;
    text-shadow: 0.5px -1px 0px blue;
}

.header-p {
    margin-inline: auto;
    margin-top: 5px;
    width: 120px;
    height: 50px;
    background-color: aliceblue;
}

p {
    display: flex;
    justify-content: start;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    font-size: 11px;
    font-weight: 100;
    padding: 3px 5px;
    color: #000;

}




/*CLASS*/
.navbar {
    padding-top: 5px;
    text-align: center;
    padding-bottom: 10px;


    background-color: rgb(132, 52, 81);


}



.logo {

    max-width: 50px;

}

.post-box {
    background-color: rgb(129, 98, 98);
    padding: 5px;
    text-shadow: 2px;
    border-radius: 10px;
}

.post-container {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.post-container>.post {

    height: 150px;
    width: 150px;
    color: brown;
    background-color: rgb(202, 226, 226);
    box-shadow: 0 2px 4px rgb(93, 93, 93);

}

.content {
    height: 100px;
    display: flex;
    justify-content: start;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    font-size: 11px;
    font-weight: 100;
    padding: 3px 5px;
    color: #000;
    white-space: wrap;

}

/*ID*/