/*Universale*/

/*TAG*/


html {
    font-family: 'Helvetica Neue', sans-serif;

    background-color: rgb(216, 239, 239);
}

main {
    background-color: rgb(157, 117, 132);
    padding: 2rem;
    margin-top: 5px;


}

h1 {
    font-size: 13px;
    margin-top: -3px;
}

p {
    font-size: 11px;

    font-weight: 300;
}



/*CLASS*/
.navbar {
    padding-top: 5px;
    text-align: center;
    padding-bottom: 10px;


    background-color: rgb(132, 52, 81);


}

.logo {

    max-width: 50px;
    justify-content: center;
}

.post-box {

    background-color: rgb(129, 98, 98);
    padding: 5px;
    text-shadow: 2px;
    border-radius: 10px;
}

.post-box>.post {
    background-color: green;
}


/*ID*/